extends template
block content
    div
        | Привіт #{userName}-ви зареєструвалися за допомого Email:#{email}
        br
        | Будь ласка перейди по силці
        - let url = 'http://localhost:3000/email/activate?token='
        a(href=url + token) Clikkk
